{"swagger":"2.0","info":{"title":"TwiceCast API","description":"TwiceCast api specification","version":"0.1.0","contact":{"name":"TwiceCast","email":"twicecast_2018@labeip.epitech.eu"},"license":{"name":"MIT","url":"https://opensource.org/licenses/mit-license.php"}},"host":"twicecast.ovh","schemes":["https"],"produces":["application/json"],"consumes":["application/json"],"paths":{"/":{"options":{"tags":["Options"],"description":"Return description of API","responses":{"200":{"$ref":"#/responses/option"}}}},"/user":{"get":{"tags":["User"],"description":"Return you","responses":{"200":{"description":"your user","schema":{"type":"array","items":{"$ref":"#/definitions/user"}}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}}}},"/user/login":{"post":{"tags":["User"],"description":"This route is used to generate the JWT (RFC 7519) to access to route that need it.","responses":{"200":{"description":"Your JWT (RFC 7519)","schema":{"$ref":"#/definitions/jwt"}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}}},"parameters":[{"$ref":"#/parameters/login"}]},"/users":{"get":{"tags":["User"],"description":"Return all users","responses":{"200":{"description":"A list of users.","schema":{"type":"array","items":{"$ref":"#/definitions/user"}}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["User"],"description":"Create a user","responses":{"200":{"description":"the new user create","schema":{"$ref":"#/definitions/user"}}},"parameters":[{"name":"user","in":"body","schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string","format":"email"},"password":{"type":"string","format":"password"}}}}]}},"/users/{userId}":{"get":{"tags":["User"],"description":"Return one user","responses":{"200":{"$ref":"#/responses/user"}}},"put":{"tags":["User"],"description":"replace one user","responses":{"200":{"$ref":"#/responses/user"}}},"patch":{"tags":["User"],"description":"patch one user","responses":{"200":{"$ref":"#/responses/user"}}},"delete":{"tags":["User"],"description":"delete a user","responses":{"200":{"description":"done"}}},"parameters":[{"$ref":"#/parameters/userId"},{"$ref":"#/parameters/jwt"}]},"/users/{userId}/organizations":{"get":{"tags":["Organization"],"description":"Return all organization","responses":{"200":{"description":"array of organizations","schema":{"type":"array","items":{"$ref":"#/definitions/organization"}}}}},"post":{"tags":["User"],"description":"Create a organization","responses":{"200":{"$ref":"#/responses/organization"}}},"parameters":[{"$ref":"#/parameters/userId"}]},"/users/{userId}/avatar":{"get":{"tags":["User"],"description":"Return avatar","responses":{"200":{"description":"todo"}}},"put":{"tags":["User"],"description":"replace avatar","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/userId"}]},"/users/{userId}/friends":{"get":{"tags":["User"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/userId"}]},"/users/{userId}/blocks":{"get":{"tags":["User"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/userId"}]},"/users/{userId}/follows":{"get":{"tags":["User"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/userId"}]},"/users/{userId}/subscribes":{"get":{"tags":["User"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/userId"}]},"/streams":{"get":{"tags":["Stream"],"description":"Return all streams","responses":{"200":{"description":"A list of streams.","schema":{"type":"array","items":{"$ref":"#/definitions/stream"}}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Stream"],"description":"Create a stream","responses":{"200":{"description":"the new stream created","schema":{"$ref":"#/definitions/stream"}}},"parameters":[{"$ref":"#/parameters/stream"}]}},"/streams/{streamId}":{"get":{"tags":["Stream"],"description":"get info of a stream","responses":{"200":{"$ref":"#/responses/stream"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/streams/{streamId}/replays":{"get":{"tags":["Stream"],"description":"Get all replays","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/streams/{streamId}/blocks":{"get":{"tags":["Stream"],"description":"Get users right on the stream","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/streams/{streamId}/followers":{"get":{"tags":["Stream"],"description":"Get users right on the stream","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/streams/{streamId}/subscribers":{"get":{"tags":["Stream"],"description":"Get users right on the stream","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/streams/{streamId}/members":{"get":{"tags":["Stream"],"description":"Get users right on the stream","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/streams/{streamId}/chat":{"get":{"tags":["Stream"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/streams/{streamId}/event":{"get":{"tags":["Stream"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"},{"$ref":"#/parameters/jwt"}]},"/streams/{streamId}/project":{"get":{"tags":["Stream"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/streams/{streamId}/tags":{"get":{"tags":["Stream"],"description":"Get all tags on the stream","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/streamId"}]},"/organizations":{"get":{"tags":["Organization"],"description":"Return all organizations","responses":{"200":{"description":"A list of organizations.","schema":{"type":"array","items":{"$ref":"#/definitions/organization"}}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Organization"],"description":"Create a organization","responses":{"200":{"description":"the new organization created","schema":{"$ref":"#/definitions/organization"}}},"parameters":[{"$ref":"#/parameters/organization"}]}},"/organizations/{organizationId}":{"get":{"tags":["Organization"],"description":"Return one organization","responses":{"200":{"$ref":"#/responses/organization"}}},"put":{"tags":["Organization"],"description":"Replace one organization","responses":{"200":{"$ref":"#/responses/organization"}}},"patch":{"tags":["Organization"],"description":"Patch one organization","responses":{"200":{"$ref":"#/responses/organization"}}},"delete":{"tags":["Organization"],"description":"delete a organization","responses":{"200":{"description":"done"}}},"parameters":[{"$ref":"#/parameters/organizationId"}]},"/organizations/{organizationId}/streams":{"get":{"tags":["Organization"],"description":"Return all stream","responses":{"200":{"description":"array of streams","schema":{"type":"array","items":{"$ref":"#/definitions/stream"}}}}},"post":{"tags":["Organization"],"description":"Create a stream","responses":{"200":{"$ref":"#/responses/stream"}}},"parameters":[{"$ref":"#/parameters/organizationId"}]},"/organizations/{organizationId}/members":{"get":{"tags":["Organization"],"description":"Get users right on the stream","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/organizationId"}]},"/replays":{"get":{"tags":["Replay"],"description":"todo","responses":{"200":{"description":"todo"}}}},"/replays/{replayId}":{"get":{"tags":["Replay"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/replayId"}]},"/replays/{replayId}/chat":{"get":{"tags":["Replay"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/replayId"}]},"/replays/{replayId}/event":{"get":{"tags":["Replay"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/replayId"}]},"/replays/{replayId}/project":{"get":{"tags":["Replay"],"description":"todo","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/replayId"}]},"/tags":{"get":{"tags":["Tag"],"description":"Return all categories","responses":{"200":{"description":"A list of categories","schema":{"type":"array","items":{"$ref":"#/definitions/tag"}}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/error"}}},"parameters":[{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/page"}]},"post":{"tags":["Tag"],"description":"Create a tag","responses":{"200":{"description":"The new tag created","schema":{"$ref":"#/definitions/tag"}}},"parameters":[{"$ref":"#/parameters/tag"}]}},"/tags/{tagId}":{"get":{"tags":["Tag"],"description":"Return one tag","responses":{"200":{"$ref":"#/responses/tag"}}},"put":{"tags":["Tag"],"description":"Replace one tag","responses":{"200":{"$ref":"#/responses/tag"}}},"patch":{"tags":["Tag"],"description":"Patch one tag","responses":{"200":{"$ref":"#/responses/tag"}}},"delete":{"tags":["Tag"],"description":"Delete a tag","responses":{"200":{"description":"Done"}}},"parameters":[{"$ref":"#/parameters/tagId"}]}},"parameters":{"userId":{"name":"userId","in":"path","required":true,"type":"integer"},"streamId":{"name":"streamId","in":"path","required":true,"type":"integer"},"replayId":{"name":"replayId","in":"path","required":true,"type":"integer"},"organizationId":{"name":"organizationId","in":"path","required":true,"type":"integer"},"user":{"name":"user","in":"body","required":true,"schema":{"$ref":"#/definitions/user"}},"stream":{"name":"stream","in":"body","required":true,"schema":{"$ref":"#/definitions/stream"}},"organization":{"name":"organization","in":"body","required":true,"schema":{"$ref":"#/definitions/organization"}},"limit":{"name":"limit","in":"query","description":"Limit the number of result","type":"integer","required":false},"country":{"name":"country","in":"body","required":true,"schema":{"$ref":"#/definitions/country"}},"page":{"name":"page","in":"query","description":"Offset the results","type":"number","required":false},"tag":{"name":"tag","in":"body","required":true,"schema":{"$ref":"#/definitions/tag"}},"tagId":{"name":"tagId","in":"path","required":true,"type":"integer"},"login":{"name":"login","in":"body","required":true,"schema":{"$ref":"#/definitions/login"}},"jwt":{"name":"Authorization","in":"header","type":"string","required":true}},"responses":{"stream":{"description":"the stream","schema":{"$ref":"#/definitions/stream"}},"user":{"description":"The user","schema":{"$ref":"#/definitions/user"}},"organization":{"description":"The organization","schema":{"$ref":"#/definitions/organization"}},"option":{"description":"return allow header","headers":{"Allow":{"description":"list of method handle by /","type":"string"}}},"tag":{"description":"A tag","schema":{"$ref":"#/definitions/tag"}}},"definitions":{"stream":{"properties":{"id":{"type":"string"},"title":{"type":"string"},"lang":{"type":"string"},"private":{"type":"boolean"}}},"organization":{"properties":{"id":{"type":"string","description":"The unique id that represent an organization"},"name":{"type":"string","description":"The name of the organization"},"language":{"$ref":"#/definitions/language"},"private":{"type":"boolean"}}},"user":{"properties":{"id":{"type":"string"},"name":{"type":"string"},"language":{"$ref":"#/definitions/language"},"email":{"type":"string","format":"email"},"register_date":{"type":"string","format":"dateTime"}}},"server":{"properties":{"id":{"type":"string"},"name":{"type":"string"},"ipv4":{"type":"string"},"ipv6":{"type":"string"},"port":{"type":"integer"},"type":{"type":"integer"},"register_date":{"type":"string","format":"dateTime"}}},"country":{"properties":{"code":{"type":"integer","maxLength":3,"minLength":3,"description":"Numeric code ISO 3166"}}},"language":{"properties":{"code":{"type":"string","maxLength":3,"description":"The language of the user, conform to ISO 639"}}},"rank":{"properties":{"id":{"type":"string"},"title":{"type":"string"}}},"error":{"properties":{"url":{"type":"string","format":"url"},"method":{"type":"string"},"code":{"type":"integer"},"description":{"type":"string"}}},"tag":{"properties":{"id":{"type":"string"},"name":{"type":"string"},"broadcasting":{"type":"integer","format":"uint64"},"short_description":{"type":"string"},"full_description":{"type":"string"},"linked-tag":{"type":"array","items":{"type":"string","format":"url"}}}},"login":{"properties":{"email":{"type":"string","description":"The emails of the user."},"password":{"type":"string","description":"The clear password of the user, he will be hash by the server (SHA256)."}}},"jwt":{"properties":{"jwt":{"type":"string","description":"JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way for securely transmitting information between parties as a JSON object."}}}}}