{"swagger":"2.0","info":{"title":"TwiceCast API","description":"TwiceCast api specification","version":"0.1.0","contact":{"name":"TwiceCast","email":"twicecast_2018@labeip.epitech.eu"},"license":{"name":"MIT","url":"https://opensource.org/licenses/mit-license.php"}},"host":"twicecast.ovh","schemes":["https"],"produces":["application/json"],"consumes":["application/json"],"paths":{"/":{"options":{"tags":["Options"],"description":"Return description of API","responses":{"200":{"$ref":"#/responses/option"}}}},"/login":{"post":{"tags":["Login"],"parameters":[{"$ref":"#/parameters/login"}],"description":"This route is used to generate the JWT (RFC 7519) to access to route that need it.","responses":{"200":{"description":"Your JWT (RFC 7519)","schema":{"$ref":"#/definitions/jwt"}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}}}},"/users":{"get":{"tags":["User"],"description":"Return all users","parameters":[{"$ref":"#/parameters/start"},{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/jwt"}],"responses":{"200":{"$ref":"#/responses/user_list"},"204":{"description":"This will be send if there are no other data."}}},"post":{"tags":["User"],"description":"Create a user","responses":{"200":{"$ref":"#/responses/user"}},"parameters":[{"$ref":"#/parameters/user_create"}]}},"/users/{userId}":{"get":{"tags":["User"],"description":"Return one user","responses":{"200":{"$ref":"#/responses/user"},"404":{"$ref":"#/responses/user_not_found"}}},"put":{"tags":["User"],"description":"replace one user","parameters":[{"$ref":"#/parameters/user_create"}],"responses":{"200":{"$ref":"#/responses/user"},"400":{"$ref":"#/responses/bad_request"},"404":{"$ref":"#/responses/user_not_found"}}},"patch":{"tags":["User"],"description":"replace one user","parameters":[{"$ref":"#/parameters/user_create"}],"responses":{"200":{"$ref":"#/responses/user"},"400":{"$ref":"#/responses/bad_request"},"404":{"$ref":"#/responses/user_not_found"}}},"delete":{"tags":["User"],"description":"delete a user","responses":{"204":{"description":"The user has been remove successfully."},"400":{"$ref":"#/responses/bad_request"},"401":{"$ref":"#/responses/unauthorized"},"403":{"$ref":"#/responses/forbidden"},"404":{"$ref":"#/responses/user_not_found"}}},"parameters":[{"$ref":"#/parameters/user_id"},{"$ref":"#/parameters/jwt"}]},"/users/{userId}/organizations":{"get":{"tags":["User"],"description":"This give you the list of all your organization.","parameters":[{"$ref":"#/parameters/start"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"$ref":"#/responses/organization_list"},"204":{"description":"This will be send if there are no other data."},"400":{"$ref":"#/responses/bad_request"},"401":{"$ref":"#/responses/unauthorized"},"403":{"$ref":"#/responses/forbidden"},"404":{"$ref":"#/responses/user_not_found"}}},"parameters":[{"$ref":"#/parameters/user_id"},{"$ref":"#/parameters/jwt"}]},"/users/{userId}/avatar":{"get":{"tags":["User"],"produces":["image/png"],"description":"Return avatar","responses":{"200":{"$ref":"#/responses/avatar"},"400":{"$ref":"#/responses/bad_request"},"404":{"$ref":"#/responses/user_not_found"}}},"put":{"tags":["User"],"consumes":["multipart/form-data"],"description":"Replace avatar","parameters":[{"$ref":"#/parameters/avatar"}],"responses":{"204":{"description":"The avatar has been replaced."},"400":{"$ref":"#/responses/bad_request"},"402":{"description":"When your jwt is not valid or you didn't give it. Detail in the body response.\n"},"403":{"description":"You don't have the right to modify this avatar."},"404":{"$ref":"#/responses/user_not_found"},"415":{"description":"We only support png."}}},"parameters":[{"$ref":"#/parameters/user_id"}]},"/users/{userId}/friends":{"get":{"tags":["User"],"description":"This give you the list of all your friend.","parameters":[{"$ref":"#/parameters/start"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"$ref":"#/responses/user_list"},"204":{"description":"This will be send if there are no other data."},"400":{"$ref":"#/responses/bad_request"},"401":{"$ref":"#/responses/unauthorized"},"403":{"$ref":"#/responses/forbidden"},"404":{"$ref":"#/responses/user_not_found"}}},"parameters":[{"$ref":"#/parameters/user_id"},{"$ref":"#/parameters/jwt"}]},"/users/{userId}/blocks":{"get":{"tags":["User"],"description":"This give you the list of all your blocked user.","parameters":[{"$ref":"#/parameters/start"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"$ref":"#/responses/user_list"},"204":{"description":"This will be send if there are no other data."},"400":{"$ref":"#/responses/bad_request"},"401":{"$ref":"#/responses/unauthorized"},"403":{"$ref":"#/responses/forbidden"},"404":{"$ref":"#/responses/user_not_found"}}},"parameters":[{"$ref":"#/parameters/user_id"},{"$ref":"#/parameters/jwt"}]},"/users/{userId}/follows":{"get":{"tags":["User"],"description":"This give you the list of all your followed stream.","parameters":[{"$ref":"#/parameters/start"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"$ref":"#/responses/stream_list"},"204":{"description":"This will be send if there are no other data."},"400":{"$ref":"#/responses/bad_request"},"401":{"$ref":"#/responses/unauthorized"},"403":{"$ref":"#/responses/forbidden"},"404":{"$ref":"#/responses/user_not_found"}}},"parameters":[{"$ref":"#/parameters/user_id"},{"$ref":"#/parameters/jwt"}]},"/users/{userId}/subscribes":{"get":{"tags":["User"],"description":"This give you the list of all your subscribes subscribes.","parameters":[{"$ref":"#/parameters/start"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"$ref":"#/responses/stream_list"},"204":{"description":"This will be send if there are no other data."},"400":{"$ref":"#/responses/bad_request"},"401":{"$ref":"#/responses/unauthorized"},"403":{"$ref":"#/responses/forbidden"},"404":{"$ref":"#/responses/user_not_found"}}},"parameters":[{"$ref":"#/parameters/user_id"},{"$ref":"#/parameters/jwt"}]},"/streams":{"get":{"tags":["Stream"],"description":"Return all streams","responses":{"200":{"description":"A list of streams.","schema":{"type":"array","items":{"$ref":"#/definitions/stream"}}},"404":{"description":"not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Stream"],"description":"Create a stream","responses":{"200":{"description":"the new stream created","schema":{"$ref":"#/definitions/stream"}}},"parameters":[{"$ref":"#/parameters/stream"}]}},"/streams/{streamId}":{"get":{"tags":["Stream"],"description":"get info of a stream","responses":{"200":{"$ref":"#/responses/stream"}}},"parameters":[{"$ref":"#/parameters/stream_id"},{"$ref":"#/parameters/jwt"}]},"/streams/{streamId}/blocks":{"get":{"tags":["Stream"],"description":"Get the list of the users blocked in this stream, they can't access to the chat\n","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/stream_id"},{"$ref":"#/parameters/jwt"}]},"/streams/{streamId}/followers":{"get":{"tags":["Stream"],"description":"This route is intend to have all the followers of a stream","parameters":[{"$ref":"#/parameters/start"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"description":"This will contain the followers of a stream, this result will be split. You need to call this route by increment start until you get a 204.\n"},"204":{"description":"This will be send if there are no other data."},"404":{"description":"Stream not found."}}},"put":{"tags":["Stream"],"description":"This route permit to user to follow a streamId","parameters":[{"$ref":"#/parameters/user"}],"responses":{"204":{"description":"Stream followed."}}},"parameters":[{"$ref":"#/parameters/stream_id"},{"$ref":"#/parameters/jwt"}]},"/streams/{streamId}/subscribers":{"get":{"tags":["Stream"],"description":"This route is intend to have all the subscribers of a stream","parameters":[{"$ref":"#/parameters/start"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"description":"This will contain the subscribers of a stream, this result will be split. You need to call this route by increment start until you get a 204.\n"},"204":{"description":"This will be send if there are no other data."},"404":{"description":"Stream not found."}}},"put":{"tags":["Stream"],"description":"This route permit to user to subscrib a streamId","parameters":[{"$ref":"#/parameters/user"}],"responses":{"204":{"description":"Stream subscribed."}}},"parameters":[{"$ref":"#/parameters/stream_id"},{"$ref":"#/parameters/jwt"}]},"/streams/{streamId}/members":{"get":{"tags":["Stream"],"description":"Get users right on the stream","responses":{"200":{"description":"todo"}}},"parameters":[{"$ref":"#/parameters/stream_id"},{"$ref":"#/parameters/jwt"}]},"/streams/{streamId}/chat":{"get":{"tags":["Stream"],"description":"This route provide the url of the server chat for this stream and the token that prouve that you can access to this chat.\n","responses":{"200":{"description":"This will contain the jwt that allow you to connect into the chat address give by the API\n","schema":{"$ref":"#/definitions/chat"}},"401":{"description":"Some chat are private, if you try to access to a private chat you need to authentificate and have been access granted\n"},"404":{"description":"Stream not found."}}},"parameters":[{"$ref":"#/parameters/stream_id"},{"$ref":"#/parameters/jwt"}]},"/streams/{streamId}/event":{"get":{"tags":["Stream"],"description":"This route provide the url of the server event for this stream and the token that prouve that you can access to this chat. The event server is here to provide information about who follow\n","responses":{"200":{"description":"This will contain the jwt that allow you to connect into the event server give by the API.\n"},"401":{"description":"Some chat are private, if you try to access to a private chat you need to authentificate and have been access granted\n","schema":{"$ref":"#/definitions/event"}},"404":{"description":"Stream not found."}}},"parameters":[{"$ref":"#/parameters/stream_id"},{"$ref":"#/parameters/jwt"}]},"/streams/{streamId}/repository":{"get":{"tags":["Stream"],"description":"This route provide the url of the server repository for this stream and the token that prouve that you can access to this repository. The repository server is here to provide information about who follow\n","responses":{"200":{"description":"This will contain the jwt that allow you to connect into the repository server give by the API.\n"},"401":{"description":"Some chat are private, if you try to access to a private chat you need to authentificate and have been access granted\n","schema":{"$ref":"#/definitions/repository"}},"404":{"description":"Stream not found."}}},"parameters":[{"$ref":"#/parameters/stream_id"},{"$ref":"#/parameters/jwt"}]},"/streams/{streamId}/tags":{"get":{"tags":["Stream"],"description":"Get all tags on the stream","parameters":[{"$ref":"#/parameters/start"},{"$ref":"#/parameters/limit"}],"responses":{"200":{"description":"This will contain the tags of a stream, this result will be split. You need to call this route by increment start until you get a 204.\n"},"204":{"description":"This will be send if there are no other data."},"404":{"description":"Stream not found."}}},"parameters":[{"$ref":"#/parameters/stream_id"},{"$ref":"#/parameters/jwt"}]},"/organizations":{"get":{"tags":["Organization"],"description":"Return all organizations","responses":{"200":{"description":"A list of organizations.","schema":{"type":"array","items":{"$ref":"#/definitions/organization"}}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Organization"],"description":"Create a organization","responses":{"200":{"description":"The new organization created","schema":{"$ref":"#/definitions/organization"}}},"parameters":[{"$ref":"#/parameters/organization"}]}},"/organizations/{organizationId}":{"get":{"tags":["Organization"],"description":"Return one organization","responses":{"200":{"$ref":"#/responses/organization"}}},"put":{"tags":["Organization"],"description":"Replace one organization","responses":{"200":{"$ref":"#/responses/organization"}}},"patch":{"tags":["Organization"],"description":"Patch one organization","responses":{"200":{"$ref":"#/responses/organization"}}},"delete":{"tags":["Organization"],"description":"delete a organization","responses":{"200":{"description":"done"}}},"parameters":[{"$ref":"#/parameters/organization_id"},{"$ref":"#/parameters/jwt"}]},"/organizations/{organizationId}/streams":{"get":{"tags":["Organization"],"description":"Return all stream","responses":{"200":{"description":"array of streams","schema":{"type":"array","items":{"$ref":"#/definitions/stream"}}}}},"post":{"tags":["Organization"],"description":"Create a stream","parameters":[{"$ref":"#/parameters/stream"}],"responses":{"201":{"description":"Stream created","schema":{"$ref":"#/definitions/stream"}},"401":{"description":"Unauthorized"},"404":{"description":"Organization not found"}}},"parameters":[{"$ref":"#/parameters/organization_id"},{"$ref":"#/parameters/jwt"}]},"/organizations/{organizationId}/members":{"get":{"tags":["Organization"],"description":"This will provide you all members of the organization.","responses":{"200":{"description":"This is an array of all members of the organization.","schema":{"type":"array","items":{"$ref":"#/definitions/user"}}}}},"post":{"tags":["Organization"],"description":"You can add a member to the organization","parameters":[{"$ref":"#/parameters/user"}],"responses":{"201":{"description":"Member added.","schema":{"$ref":"#/definitions/user"}},"404":{"description":"User or organization not found."}}},"parameters":[{"$ref":"#/parameters/organization_id"},{"$ref":"#/parameters/jwt"}]},"/tags":{"get":{"tags":["Tag"],"description":"Return all categories","parameters":[{"$ref":"#/parameters/limit"},{"$ref":"#/parameters/start"}],"responses":{"200":{"description":"A list of categories","schema":{"type":"array","items":{"$ref":"#/definitions/tag"}}},"404":{"description":"Not found","schema":{"$ref":"#/definitions/error"}}}},"post":{"tags":["Tag"],"description":"Create a tag","responses":{"200":{"description":"The new tag created","schema":{"$ref":"#/definitions/tag"}}},"parameters":[{"$ref":"#/parameters/tag"}]}},"/tags/{tagId}":{"get":{"tags":["Tag"],"description":"Return one tag","responses":{"200":{"$ref":"#/responses/tag"}}},"put":{"tags":["Tag"],"description":"Replace one tag","responses":{"200":{"$ref":"#/responses/tag"}}},"patch":{"tags":["Tag"],"description":"Patch one tag","responses":{"200":{"$ref":"#/responses/tag"}}},"delete":{"tags":["Tag"],"description":"Delete a tag","responses":{"200":{"description":"Done"}}},"parameters":[{"$ref":"#/parameters/tag_id"},{"$ref":"#/parameters/jwt"}]}},"parameters":{"user":{"name":"user","in":"body","required":true,"schema":{"$ref":"#/definitions/user"}},"user_create":{"name":"user","in":"body","required":true,"schema":{"$ref":"#/definitions/user_create"}},"user_id":{"name":"userId","in":"path","required":true,"type":"integer"},"avatar":{"name":"avatar","in":"formData","required":true,"type":"file"},"stream":{"name":"stream","in":"body","required":true,"schema":{"$ref":"#/definitions/stream"}},"stream_id":{"name":"streamId","in":"path","required":true,"type":"integer"},"organization":{"name":"organization","in":"body","required":true,"schema":{"$ref":"#/definitions/organization"}},"organization_id":{"name":"organizationId","in":"path","required":true,"type":"integer"},"start":{"name":"start","in":"query","description":"Offset the results","type":"integer","required":false},"limit":{"name":"limit","in":"query","description":"Limit the number of result","type":"integer","required":false},"tag":{"name":"tag","in":"body","required":true,"schema":{"$ref":"#/definitions/tag"}},"tag_id":{"name":"tagId","in":"path","required":true,"type":"integer"},"login":{"name":"login","in":"body","required":true,"schema":{"$ref":"#/definitions/login"}},"jwt":{"name":"Authorization","in":"header","type":"string","required":false}},"responses":{"avatar":{"description":"The avatar image.","schema":{"type":"file"}},"stream":{"description":"A stream.","schema":{"$ref":"#/definitions/stream"}},"user":{"description":"An User.","schema":{"$ref":"#/definitions/user"}},"user_list":{"description":"This will contain your organisations, this result will be split. You need to call this route by increment start until you get a 204.\n","schema":{"type":"array","$ref":"#/definitions/user"}},"user_not_found":{"description":"This user id doesn't exist, detail in the body.","schema":{"$ref":"#/definitions/error"}},"stream_list":{"description":"This will contain your streams, this result will be split. You need to call this route by increment start until you get a 204.\n","schema":{"type":"array","$ref":"#/definitions/stream"}},"organization":{"description":"An organization.","schema":{"$ref":"#/definitions/organization"}},"organization_list":{"description":"This will contain your organisations, this result will be split. You need to call this route by increment start until you get a 204.\n","schema":{"type":"array","$ref":"#/definitions/organization"}},"option":{"description":"Return allow header.","headers":{"Allow":{"description":"List of method handle by /","type":"string"}}},"tag":{"description":"A tag.","schema":{"$ref":"#/definitions/tag"}},"bad_request":{"description":"The server cannot or will not process the request due to an apparent client error (e.g., malformed request syntax, too large size, invalid request message framing, or deceptive request routing). Detail in the body.\n","schema":{"$ref":"#/definitions/error"}},"forbidden":{"description":"The request was valid, but the server is refusing action. The user might not have the necessary permissions for a resource. Detail in the body.\n","schema":{"$ref":"#/definitions/error"}},"unauthorized":{"description":"The jwt is needed or has no been provided. Detail in the body.","schema":{"$ref":"#/definitions/error"}}},"definitions":{"stream":{"properties":{"id":{"type":"string"},"title":{"type":"string"},"lang":{"type":"string"},"private":{"type":"boolean"}}},"organization":{"properties":{"id":{"type":"string","description":"The unique id that represent an organization"},"name":{"type":"string","description":"The name of the organization"},"language":{"$ref":"#/definitions/language","description":"This is the natal language of the user"},"private":{"type":"boolean","description":"If true the organization is hidden"}}},"user":{"properties":{"id":{"type":"string","description":"This id is used in every request about this user."},"name":{"type":"string","description":"The public name of the user."},"language":{"$ref":"#/definitions/language"},"email":{"type":"string","format":"email","description":"The API use the email as login."},"register_date":{"type":"string","format":"dateTime","description":"This will be the date in UTC when the account has been create."},"private":{"type":"boolean","description":"You can choose to not be public."}},"example":{"id":42,"name":"TwiceCast","language":"FRA","email":"twicecast@twicecast.ovh","register_date":"2015-12-24T23:59:59.590Z","private":false}},"user_create":{"properties":{"name":{"type":"string","description":"The public name of the user."},"email":{"type":"string","format":"email","description":"The API use the email as login."},"password":{"type":"string","format":"password","description":"The password will be hash by the server."},"language":{"$ref":"#/definitions/language"}}},"server":{"properties":{"id":{"type":"string"},"name":{"type":"string"},"ipv4":{"type":"string"},"ipv6":{"type":"string"},"port":{"type":"integer"},"type":{"type":"integer"},"register_date":{"type":"string","format":"dateTime"}}},"country":{"properties":{"code":{"type":"integer","maxLength":3,"minLength":3,"description":"Numeric code ISO 3166"}}},"language":{"properties":{"code":{"type":"string","maxLength":3,"description":"The language of the user, conform to ISO 639"}}},"rank":{"properties":{"id":{"type":"string"},"title":{"type":"string"}}},"error":{"properties":{"url":{"type":"string","format":"url","description":"The url of the request"},"method":{"type":"string","description":"The verb http of the request"},"code":{"type":"integer","description":"The error code"},"description":{"type":"string","description":"Description of the error"}}},"tag":{"properties":{"id":{"type":"string"},"name":{"type":"string"},"broadcasting":{"type":"integer","format":"uint64"},"short_description":{"type":"string"},"full_description":{"type":"string"},"linked-tag":{"type":"array","items":{"type":"string","format":"url"}}}},"login":{"properties":{"email":{"type":"string","description":"The emails of the user."},"password":{"type":"string","description":"The clear password of the user, he will be hash by the server (SHA256)."}}},"jwt":{"properties":{"token":{"type":"string","description":"JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way for securely transmitting information between parties as a JSON object.\n"}}},"chat":{"properties":{"url":{"type":"string","format":"url","description":"This is the url of the chat server."},"jwt":{"$ref":"#/definitions/jwt"}}},"event":{"properties":{"url":{"type":"string","format":"url","description":"This is the url of the event server."},"jwt":{"$ref":"#/definitions/jwt"}}},"repository":{"properties":{"url":{"type":"string","format":"url","description":"This is the url of the repository server."},"jwt":{"$ref":"#/definitions/jwt"}}}}}